<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>About NLP3o!</h1>
This web app is for educational purpose only.<br>
It shows a few tools for Natural Language Processing (NLP) such as tokenise or summarise text.
<h2>Code on GitHub</h2>
The source code is available on this GitHub repo:<br>
<a href="https://github.com/Mashimo/NLP3o">Mashimo/NLP3o</a>
  <h2>Basic text analysis</h2>
  See <a href="https://mashimo.wordpress.com/2014/05/11/the-hello-world-of-text-processing/">
  this post </a> for details about how this is done in Python.
  <h2>The name</h2>
The name NLP3o is a word game between NLP and the protocol robot C3PO.<br>
Enjoy!
{% endblock %}
